packages/*/src
node_modules/
test/

eslint.config.js

.husky/

#prettier files
.prettierignore
.prettierrc.json

.editorconfig

# pnpm files
pnpm-lock.yaml
pnpm-workspace.yaml

# changeset
.changeset/
